[Unit]
Description=nostalgia_chrome service
After=network-online.target

[Service]
User=pascal
Group=users
Type=simple
Restart=always
ExecStart=/usr/bin/nostalgia_chrome run-server
Environment="PYTHONUNBUFFERED=on"

[Install]
WantedBy=multi-user.target
